div.ibox.frame {
  z-index: 5000;
  background: rgba(35, 35, 35, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding-top: 6%;
  padding-bottom: 6%;
  -webkit-animation: show-ibox 1s ease-in-out both;
  -moz-animation: show-ibox 1s ease-in-out both;
  -o-animation: show-ibox 1s ease-in-out both;
  animation: show-ibox 1s ease-in-out both;
  box-sizing: content-box !important;
}

@-webkit-keyframes show-ibox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show-ibox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-ibox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-ibox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span.ibox.close {
  background: #fff;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  position: fixed;
  text-align: center;
  line-height: 40px;
  font-size: 60px !important;
  font-family: "Times New Roman", Times, serif !important;
}

@media screen and (max-width: 1550px) {
  span.ibox.close {
    background: rgba(184, 184, 184, 0.63) !important;
  }
}

span.ibox.close:hover {
  background: #adadad;
  color: #fff;
}

div.ibox.loader {
  height: 98px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  width: 98px;
}

div.ibox.content {
  display: block;
  z-index: 5001;
  max-width: 1100px;
  background: #fff;
  margin: 0 auto 6% auto !important;
  min-height: 80%;
  padding: 20px 150px;
  border-radius: 6px;
}

@media screen and (max-width: 1150px) {
  div.ibox.close {
    background: rgba(230, 230, 230, 0.8) !important;
  }

  div.ibox.content {
    padding: 20px !important;
  }
}

div.ibox.loader {
  width: 100%;
  height: 94px;
  text-align: center;
}

div.ibox.loader div.ibox.spinner {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: loader-spin 575ms infinite linear;
  -o-animation: loader-spin 575ms infinite linear;
  -ms-animation: loader-spin 575ms infinite linear;
  -webkit-animation: loader-spin 575ms infinite linear;
  -moz-animation: loader-spin 575ms infinite linear;
}

@keyframes loader-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes loader-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes loader-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
