div.ibox.frame {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  padding-top: 6%;
  padding-bottom: 6%;
  animation: show-ibox 1s ease-in-out both;
  box-sizing: content-box !important;
  color: #000;
}

div.ibox.frame.hiding {
  animation: op 0.5s ease-in-out both;
}

@keyframes show-ibox {
  0% {
    opacity: 0;
  }
  50% {
    background: rgba(35, 35, 35, 0);
    opacity: 1;
  }
  100% {
    background: rgba(35, 35, 35, 0.5);
  }
}

@keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

span.ibox.close {
  background: #fff;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 1px;
  position: fixed;
  text-align: center;
  line-height: 40px;
  font-size: 40px !important;
  font-family: "Times New Roman", Times, serif !important;
  color: #000;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1240px) {
  span.ibox.close {
    background: rgba(184, 184, 184, 0.63) !important;
  }
}

@media (min-width: 768px) {
  span.ibox.close:hover {
    background: #adadad;
    color: #fff;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
  }

  span.ibox.copyright a:hover {
    color: #999 !important;
  }
}
div.ibox.loader {
  height: 98px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 98px;
}

div.ibox.content {
  display: block;
  z-index: 5001;
  max-width: 1100px;
  background: #fff;
  margin: 0 auto 6% auto !important;
  min-height: 80%;
  padding: 20px 100px;
  border-radius: 6px;
  box-sizing: border-box;
  color: #000 !important;
  border-radius: 10px;
}

@media screen and (max-width: 1150px) {
  div.ibox.close {
    background: rgba(230, 230, 230, 0.8) !important;
  }

  div.ibox.content {
    padding: 20px !important;
  }
}

div.ibox.loader {
  width: 100%;
  height: 94px;
  text-align: center;
}

div.ibox.loader div.ibox.spinner {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: loader-spin 575ms infinite linear;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$loader-color: #fff !default;

.ibox {
  &.frame {
    &.hidden {
      visibility: hidden;
    }
  }

  &.loader {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;

    & > div {
      width: 18px;
      height: 18px;
      background-color: #333;

      border-radius: 100%;
      display: inline-block;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      animation-delay: -0.32s;
    }

    .bounce2 {
      animation-delay: -0.16s;
    }
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
